<%- include('../includes/head.ejs') %>
    </head>

    <body>
        <%- include('../includes/navigation.ejs') %>
        <main>
            <div class="container" style="margin-top: 10pc;">
                <% if(errorMessage) { %>
                    <div class="alert alert-dark" role="alert">
                        <%= errorMessage %>
                    </div>
                <% } %>
                <form action="/new-password" method="POST">
                    <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                    <input type="hidden" name="userId" value="<%= userId %>">
                    <input type="hidden" name="passwordToken" value="<%= passwordToken %>">
                    <!-- Email input -->
                    <div class="form-outline mb-4">
                        <label class="form-label" for="form2Example1">Email address</label>
                        <input type="password" id="form2Example1" name="password" placeholder="Enter Password" class="form-control" />
                    </div>
                    <br>
                    <!-- Submit button -->
                    <button type="submit" class="btn btn-primary btn-block mb-4">Update Password</button>
                </form>
            </div>
        </main>
        <%- include('../includes/end.ejs') %>