<%- include('../includes/head.ejs') %>
<script src="../js/admin.js"></script>
    </head>

    <body>
        <%- include('../includes/navigation.ejs') %>
            <div class="container">
                <main>
                    <div class="container">
                        <div class="col-lg-6">
                            <h1>Total Products
                                <%= prods.length %>
                            </h1>
                        </div>
                        <div class="col-lg-6">
                            <a href="/admin/add-product" class="btn btn-primary">Add Product</a>
                        </div>
                    </div>
                    <% if(prods.length > 0) {%>
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>Title</th>
                                    <th>Price</th>
                                    <th>Description</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <% for (let products of prods ){%>
                                <tr>
                                    <td>
                                        <%= products.title %>
                                    </td>
                                    <td>
                                        <%= products.price %>
                                    </td>
                                    <td>
                                        <%= products.description %>
                                    </td>
                                    <td>
                                        <input type="hidden" name="productName" value="<%= products.title %>">
                                        <input type="hidden" name="productId" value="<%= products._id %>">
                                        <a href="/admin/edit-product/<%= products._id %>">Edit</a> |
                                        <a href="/admin/delete-product/<%= products._id %>">Delete</a> |
                                        <a href="/add-to-cart/<%= products._id %>">Add Cart</a> |
                                        <button class="btn" type="button" onclick="deleteProduct(this)">Delete</button>
                                    </td>
                                </tr>
                                <%}%>
                                    <% } else {%>
                                        <tr>
                                            <td>No Product</td>
                                        </tr>
                                        <% }%>
                        </table>

                </main>
            </div>

            <%- include('../includes/end.ejs') %>