<%- include('../includes/head.ejs') %>
    </head>

    <body>
        <%- include('../includes/navigation.ejs') %>
        <main>
            <div class="container">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Order Name</th>
                            <th>Product Qty</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                        <% order.forEach(orderItems=> { %>
                            <% orderItems.items.forEach(product=> { %>
                            <tr>
                                <td>
                                    <b>
                                        <%= product.title %>
                                    </b>
                                </td>
                                <td>
                                    <%= product.quantity %>
                                </td>
                                <td>
                                    <a href="#">Delete</a>|
                                </td>
                            </tr>
                            <%})%>
                        <%})%>
                </table>
            </div>

        </main>
        <%- include('../includes/end.ejs') %>